:root {
    --cor-menu: (#717171)
    --cor-texto: (#131313)
}

body {
    font-family: 'Montserrat', sans-serif;
   
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}



.menu ul li {
    
    display: inline-block;
    
    padding: 5px;
    margin: 8px;
    font-size: 14px;
    font-weight: 300;
}



.menu ul li a {
    color: var(--cor-menu);
    text-decoration: none;
}

.submenu {
    background-color: #717171;
    position: absolute;
    
}

.lista__submenu {
    color: #fff;

}

.botoes__itens {
    text-decoration: none;
    margin: 10px;
}

.botao__ebook{
    border: solid 1px #CE2A47;
    background-color: #CE2A47; ;
    padding: 6.35px 18.8px;
    border-radius: 10px;
    color: #fff;
}

/* SUB-MENU */

.menu ul li  {
    position: relative;
    display: inline-block; 
}

.menu ul ul {
    display: none;
  position: absolute;
  min-width: 160px;
  left: 0;
}

.menu ul li:hover ul {
    display: block;

}

.menu ul li:hover  {
   font-weight: 700;
   color:#C91233;
}

/* MAIN */

.corpo__cima {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    background: linear-gradient(250.33deg, #FFA0A0 -49.46%, rgba(196, 196, 196, 0) 47.18%);
    padding-top: 100px;
    padding-bottom: 50px;
}




.titulo__principal {
    font-weight: 700;
    font-size: 36px;
    color: var(--cor-texto);
    margin: 10px;
    line-height: 55px;
}

.paragrafo__principal {
    font-weight: 300;
    font-size: 16px;
    color: var(--cor-texto);
    margin: 10px;
    line-height:30px;
}

.botaoo {
    margin-top: 25px;
    margin-left: 10px
}

.botao__principal {
    border: solid 1px #CE2A47;
    background-color: #CE2A47; ;
    padding: 6.35px 18.8px;
    border-radius: 10px;
    color: #fff;
    margin-top: 8px;
    text-decoration: none;
    
}

.faleconosco {
    font-weight: 700;
    padding: 8px;
    position: fixed;
    left: auto;
    right: 24px;
}

/* CORPO BAIXO */

.corpo__baixo {
    Width: 1440px;
    Height: 900px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}


.corpo__baixo .ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    gap: 50px 100px;
    margin-top: 750px;   
}

.corpo__baixo .catalogo {
    box-shadow: 2px 10px 25px 10px rgba(0, 0, 0, 0.03);
    width: 330px;
    height: 460px;
}

.corpo__baixo .img__catalogo {
    position: inherit;
    padding-left: 16px;
    padding-top: 10px;
}

.corpo__baixo h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--cor-texto);
}

.corpo__baixo p {
    font-size: 16px;
    font-weight: 300;
    color: var(--cor-texto);
    line-height: 24px;
}

.corpo__baixo a {
    font-size: 14px;
    font-weight: 700;
    color: #C91233;
    text-decoration: none;
}

.corpo__baixo h2,.paragrafo__catalogo, a {
    padding: 15px;
}

.saibamais {
    position: absolute;
    padding-left: 236px;
    padding-top: 65px;
}

.saibamais0{
    
    margin-left: 206px;
    margin-top: 30px;
}

/* RODAPE */

.rodape2{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.rodape {
    
    align-items: flex-end;
   
    
    margin-top: 710px
}

.rodape a {
    display: block;
}

.links__uteis {
     text-decoration: none;
     color: var(--cor-texto);
     line-height: 0;
     font-size: 12px;
    font-weight: 300;
     
}

.divs {
    text-align: left;
}

.rodape__titulo {
    font-size: 12px;
    font-weight: 700;
    color: var(--cor-texto);
}

footer section h3 {
    font-size: 12px;
    font-weight: 700;
    color: var(--cor-texto);
} 

footer section p {
    font-size: 12px;
    font-weight: 300;
    color: var(--cor-texto);
}



/* SEGUNDA PAGINA - TREINAMENTO*/

.div__treinamentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1529px;
    margin: 0 auto;
    gap: 36px 0px;
}

.texto__treinnamentos  {
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.card {
    display: block;
    /*width: 33%;*/
    gap: 10px 30px;
}



.ul__treinamentos{

    border: 1px solid #C91233;
    Width: 380px;
    Height: 380px;
    Top: 774px;
    Left: 125px;
    
   margin-left: 0 auto;
    align-items: center;

}

 .h2__treinamentos {
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     font-size: 32px;
     color: var(--cor-texto);
    line-height: 160%;
    margin-bottom: 57px;
    margin-bottom: 62px;
}


 .paragrafo__treinamentos {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--cor-texto);
    line-height: 160%;
}




/*TREINAMENTO PARTE BAIXO*/

.h4 {
    display: block;
    font-size: 36px;
    color: #5A5A5A;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 70px;
}


.diiv {
   display: flex;
   justify-content: space-evenly;
}

.h5 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 38.5px;
    margin-bottom: 12px;
} 

.pp {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 160%;
    margin-bottom: 30px;
}



.comentario__lista {
    border: 1px solid red;
    width: 300PX;
    height: 300PX;
}


.div__treinamentos a {
    color: #C91233;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.p_comentario{
    display: -webkit-box;
    width: 343px;
    height: 100px;
}


